* {
    max-width: 700px;
    margin: auto;
  }
  
  .profile-picture {
      max-width: 300px;
      max-height: 100px;
  }

  body {
    min-width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  div {
    border-radius: 5px;
  }
  
  #header {
    height: 40px;
    width: 100%;
    background-color: #59c5f7;
    position: fixed;
    z-index: 1;
  }
  
  #title {
    margin-left: 3%;
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: #59c5f7;
    clear: both;
    position: relative;
  }

.social-media img
{
    height: 30px;
    margin-right: 15px;
}
.social-media
{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}
  
  .left {
    height: 1000px;
    width: 45px;
    background-color: #e9e9e9;
    float: left;
    position: fixed;
  }
  
  .right {
    height: 1100px;
    width: 45px;
    background-color: #e9e9e9;
    float: right;
    position: inherit;
  }
  
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
  }
  
  p,
  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .head {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }
